.container{
    max-width: 1200px;
    margin: auto;
    
}

.fonas1{
    background-color: rgb(0, 255, 255);
}

.header{
    background-image: url(./IMAGES/toys-spending-pandemic-Mattel.jpg);
    min-height: 150px;
    background-position: center;
    
}

.headerlogo{
    height: 100px;
    width: auto;
    margin-left: 450px;
    margin-top: 25px;
   
}

.headerlogo:hover{
    height: 120px;
    width: auto;
    margin-left: 400px;
    margin-top: 15px;
  
}

.hrlinija{
    display: block;
    background-color: rgb(0, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
       
}

a{
    background-color: rgb(0, 255, 255);
    color: rgb(216, 117, 25);
    font-family: arial;
    padding-right: 40px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 8px;
    display: inline;
    margin-top: 0px;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    
}

.meniu{
    background-color: rgb(0, 255, 255);
    text-align: center;

}

a:hover{
    background-color: rgb(0, 255, 255);
    color: rgb(25, 28, 216);
    font-size: 20px;
    font-family: arial;
    padding-right: 40px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.fonas{
    background-image: url(./IMAGES/rene-olivares-toycity.jpg);
    min-height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
 

}
.rgba{
    min-height: 950px;
    background-color: rgba(255, 255, 255, 0.8);
}

h1{
    font-family: arial;
    color: blue;
    text-align: center;
    opacity: 1;
}